<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="content">
      <!--pinterest logo-->
      <p class="header">SIGN UP</p>

      <form action="/login" method="post">
      <input type="text" name = "username" placeholder="Username" class="detail" /><br />
      <input type="password" name = "password" placeholder="Password" class="detail" />
      <input type="submit" class="btn int" value="Login">
    </form>
      <a href="/forgot">Forgot your password?</a>
      

      <footer>
        <p>
          By continuing, you agree to Pinterest's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
        <a href="/">Not registered? Register now</a>
      </footer>
    </div>
  </div>
  <div class="upbtn">Sign up</div>


</body>
</html>